<!-- image-upload.component.html -->
<input type="file" (change)="fileChangeEvent($event)">
<!-- <ngx-image-cropper *ngIf="imageChangedEvent" [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true" [aspectRatio]="1" [resizeToWidth]="200" format="png"
  (imageCropped)="imageCropped($event)"> -->
  <!-- <image-cropper [image]="data" [settings]="cropperSettings" (onCrop)="croppedImage($event)"></image-cropper>

<img [src]="croppedImage" *ngIf="croppedImage">
<button (click)="downloadCroppedImage()" *ngIf="croppedImage">Download Cropped Image</button> -->

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

<img [src]="croppedImage" />
